body {
    background: black
}

.lanh {
    font-family: 'Mali', cursive;
}

.abc .xyz {
    position: relative;
}

.price {
    position: absolute;
    top: 1rem;
    right: 3rem;
    border-radius: 50%;
    background: black;
    font-size: 20px;
    color: pink;
    padding: 15px
}

.abc .cc {
    text-align: center;
    margin: 1rem 0 0 0;
    font-size: 2rem;
    color: pink
}

.abc figure:hover {
    box-shadow: 0 0 15px rgba(179, 179, 179, 0.75);
}

.abc p {
    font-size: 1.5rem
}

.abc {
    text-align: center
}

.huy .cl {
    text-align: center;
    margin: 1rem 0 1rem 0;
    font-size: 2rem;
    color: pink
}

.hihi .hihicl {
    text-align: center;
    margin: 1rem 0 1rem 0;
    font-size: 2rem;
    color: pink;
}

.huy figure:hover {
    box-shadow: 0 0 15px rgba(179, 179, 179, 0.75);
}

.huyyy .huyy p:hover {
    color: silver
}

.hehe .fpt {
    font-size: 40px
}

.hien p {
    font-weight: 300
}

.nong h3 {
    font-family: 'Mali', cursive;
}